<%- include header %>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="blogFile" /><br/>
    <input type="file" name="blogFile" /><br/>
    <input type="file" name="blogFile" /><br/>
    <input type="file" name="blogFile" /><br/>
    <input type="file" name="blogFile" /><br/>
    <input type="submit" />
</form>
<%- include footer %>